# 구글 시트
GOOGLE_SHEET_ID=your_sheet_id
GOOGLE_CREDENTIALS_PATH=your_credentials_path_here

# 쿠팡
CP_VENDOR_ID=your_vendor_id_here
CP_ACCESS_KEY=your_access_key_here
CP_SECRET_KEY=your_secret_key_here

# 롯데온
LOTTE_VENDOR_ID=your_vendor_id_here
LOTTE_API_KEY=your_api_key_here

# 11번가
ST11_API_KEY=your_api_key_here

# 스마트스토어
NAVER_ACCOUNT_ID=your_account_id_here
NAVER_CLIENT_ID=your_client_id_here
NAVER_CLIENT_SECRET=your_client_secret_here

# 프레시몬
NAVER_CLIENT_ID_2=your_client_id_2_here
NAVER_CLIENT_SECRET_2=your_client_secret_2_here

# ESMPLUS
ESM_MASTER_ID=your_master_id_here
ESM_SECRET_KEY=your_secret_key_here
ESM_AUCTION_ID=your_auction_id_here
ESM_GMARKET_ID=your_gmarket_id_here
